.env
.env.local
.env.*.local

# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# PyCharm
.idea/

# FAISS index (nếu nặng thì ignore)
# shared/faiss_etsy_index_v2/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db