fastapi==0.115.5
uvicorn==0.32.1
python-multipart==0.0.18
#openai-whisper==20231117
torch==2.5.1
setuptools
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-google-genai
faiss-cpu
sentence-transformers
huggingface-hub
kafka-python
pymysql
python-dotenv
fastapi
uvicorn[standard]
